<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Cats App</a>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row header">
    <div class="col-md-12">
      <img style="float:left;" src="../assets/images/cat-paw.png" class="img img-responsive" width="60"/>
      <h1>{{title}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
